*{
	margin: 0;
  	padding: 0;
  	color: #181818;
  	font-family: "Blogger sans";
  	transition: 0.4s;
}
html, body {
  	width: 100%;
  	height: 100%;
  	//overflow:  hidden;
  	background: #fff;
}
a{text-decoration: none;}
a.sec{
	font-size: 20px;
	font-weight: 100;
	margin-top: 3px;
}
div.container{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div.item1{
	height: 100%;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	//background: red;
}
div.item2{
	height: 100%;
	width: 40%;
	text-align: right;
	background: red;
	background-image: url(me1.jpg);
	background-size: auto 100%;
	background-position: center;
}
img{height: 100%;}

h1{
	font-size: 90px;
	text-shadow: 7px 5px 0 #ff9966;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 1;
	margin-bottom: 35px;
}
h1:hover{
	text-shadow: -7px -5px 0px #ff9966;
}
h3{
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 25px;
}
p{
	font-size: 20px;
	font-weight: 100;
	margin-top: 10px;
}
p.last{margin-bottom: 45px;}
div.cont{
	display: inline-block;
	margin-right: 20px;
}
h4.name{
	font-size: 28px;
	font-weight: 400;
}
h5.name{
	font-size: 20px;
	font-weight: 100;
	margin-top: 3px;
}
a#portf{
	font-size: 22px;
	font-weight: normal;
	text-decoration: none; 
	border-bottom: 1px #181818 solid;
	padding-bottom: 5px;
	padding-top: 40px;
}
a#portf:hover{
	color: #393939;
	border-bottom: 1px #393939 solid;
}
div#containercont{
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 35px;
	vertical-align: top;
}