@font-face { 
  font-family: 'Blogger Sans';                
  src: url('fonts/Blogger Sans-Bold.ttf')  format('truetype');                /* Старые Safari, Android, iOS */    /* Древние Safari, iOS, Android */ 
  font-weight: bold; 
  font-style: normal; }
 @font-face { 
  font-family: 'Blogger Sans';                
  src: url('fonts/Blogger Sans-Medium.ttf')  format('truetype');                /* Старые Safari, Android, iOS */    /* Древние Safari, iOS, Android */ 
  font-weight: medium; 
  font-style: normal; }
@font-face { 
  font-family: 'Blogger Sans';                
  src: url('fonts/Blogger Sans.ttf')  format('truetype');                /* Старые Safari, Android, iOS */    /* Древние Safari, iOS, Android */ 
  font-weight: normal;
  font-style: normal; }
@font-face { 
  font-family: 'Blogger Sans';                
  src: url('fonts/Blogger Sans-Light.ttf')  format('truetype');                /* Старые Safari, Android, iOS */    /* Древние Safari, iOS, Android */ 
  font-weight: lighter; 
  font-style: normal; }


	*{
		margin: 0;
	  	padding: 0;
	  	color: #fff;
	  	font-family: "Blogger Sans";
	  	transition: 0.4s;
	  	background: #1d1d1d;
	}
	html, body {
	  	
	}
	div.row{
	}
	div#text{
		height: 94vh;
		position: relative;
		margin: auto;
	}
	div#about{
		height: 644px;
		margin: auto;
		position: absolute;
		top: 0; bottom: 0;  right: 0; left: 0;
		width: 490px;
	}
	div#photo{
		height: 100vh;
		text-align: right;
		background-image: url('me.png');
		background-size: auto 100%;
		background-position: right;
		background-repeat: no-repeat;
		//background: red; 
	}
	h1#name{
		font-size: 100px;
		text-shadow: 7px 5px 0 #ff9966;
		text-transform: uppercase;
		letter-spacing: 5px;
		line-height: 1;
		margin-bottom: 15px;
		font-weight: bold;
	}
	h1#name:hover{text-shadow: -7px -5px 0px #ff9966;}
	h3.do{
		display: inline-block;
		font-size: 28px;
		margin-right: 8px;
		padding-bottom: 22px;
		font-weight: medium;
		letter-spacing: 2px;
	}
	p.text{
		font-size:20px;
		font-weight: lighter;
		font-family: "Blogger Sans";
	}
	p.last{margin-bottom: 45px;}
	a#but{
		display: inline-block;
		border-radius: 5px;
		box-shadow: 7px 6px 0 #ff9966;
		padding: 18px 60px;
		background: #fff;
		color: #1d1d1d;
		font-size: 28px;
		font-weight: bold;
		border: 0;
		margin-bottom: 43px;
		text-decoration: none;
	}
	a#but:hover{
		box-shadow: -7px -6px 0px #ff9966;
	}
	a#portf{
		color: #fff;
		font-size: 22px;
		font-weight: normal;
		text-decoration: none; 
		border-bottom: 1px #e1e1e1 solid;
		padding-bottom: 5px;
	}
	a#portf:hover{
		color: #b4b4b4;
		border-bottom: 1px #b4b4b4 solid;
	}	
 }
