@font-face { 
  font-family: "Blogger Sans";                
  src: url('../fonts/Blogger Sans.ttf')  format('truetype'),                /* Старые Safari, Android, iOS */    /* Древние Safari, iOS, Android */ 
  font-weight: normal; 
  font-style: normal; 
}
*{
	margin: 0;
  	padding: 0;
  	color: #181818;
  	font-family: "Blogger Sans";
  	transition: 0.4s;
}
html, body {
  	width: 100%;
  	height: 100%;
  	//overflow:  hidden;
  	background: #fff;
}
div.container{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div.item1{
	height: 100%;
	width: 55%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	//background: red;
}
div.item2{
	height: 100%;
	width: 45%;
	text-align: right;
	background: red;
	background-image: url(me.png);
	background-size: auto 100%;
	background-position: center;
}
img{height: 100%;}

h1{
	font-size: 90px;
	text-shadow: 7px 5px 0 #ff9966;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 1;
	margin-bottom: 35px;
}
h1:hover{
	text-shadow: -7px -5px 0px #ff9966;
}
div.type{
	display: flex; 
	margin-bottom: 35px;
}
h3{
	font-size: 28px;
	margin-right: 30px;
	font-weight: 400;
	letter-spacing: 2px;
}
p{
	//color: #d2d2d2;
	font-size: 20px;
	font-weight: 100;
	margin-top: 10px;
	font-family: "Blogger Sans";
}
p.last{margin-bottom: 45px;}
a#but{
	display: inline-block;
	border-radius: 5px;
	box-shadow: 7px 6px 0 #ff9966;
	padding: 18px 60px;
	background: #181818;
	color: #fff;
	font-size: 28px;
	font-weight: 800;
	border: 0;
	margin-bottom: 40px;
	text-decoration: none;
}
a#but:hover{
	box-shadow: -7px -6px 0px #ff9966;
}
a#portf{
	font-size: 22px;
	font-weight: normal;
	text-decoration: none; 
	border-bottom: 1px #181818 solid;
	padding-bottom: 5px;
}
a#portf:hover{
	color: #393939;
	border-bottom: 1px #393939 solid;
}